.grid-button {
  height: 100%;
  font-weight: bold !important;
  font-size: 1.5em !important;
}

.card-grid {
  display: grid;
  grid-template-areas:
    'space elem1 elem1 elem1 elem1 space' 
    'space elem2 elem2 elem2 elem2 space' 
    'space elem3 elem3 elem3 elem3 space';
  grid-row-gap: 1em;
  align-items: center;
}

.grid-elem1 { grid-area: 'elem1'; }
.grid-elem2 { grid-area: 'elem2'; }
.grid-elem3 { grid-area: 'elem3'; }

.join-game-screen {
  width: 90%;
  height: 35%;
}

.form-title {
  text-align: center;
  font-weight: bold;
}

.form-input {
  text-align: center;
}

.selected-input {
  border: 5px solid !important;
  border-color: darkgreen!important;
  font-weight: bold !important;
}

.full-line-button {
  width: 90%;
  font-weight: bold
}
